body {
    background: url(kepek/hatterkep.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

section {
    background-color: rgba(104, 95, 95, 0.5);
    padding: 10px;
    margin-top: 20px
}

p {
    text-align: justify;
}

#felhasznalas_kep {
    width: 350px;
    box-shadow: 10px 10px rgba(0, 0, 255, 0.5);
}

h1,h2 {
    text-align: center;
}

figure {
    text-align: center;
}

figcaption {
    text-align: center;
}

caption {
    white-space: nowrap;
    caption-side: top;
    color: white;
    font-size: x-large;
}

#hajtomukep {
    width: 300px;
}

.hajtomu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    text-align: center;
}