.bannerimg {
    width: 1300px;
}

.tortenet {
    margin: auto;
    width: 340px;
    height: 445px;
}

.kulturaimg {
    height: 200px;
    border-top: 20px;
}

caption {
    caption-side: center;
    text-align: center;
}

h1,h2 {
    text-align: center;
}

.felsokep {
    height: 400px;

}

.kep {
    width: 250px;
}

.history {
    background-color: #ffe5b4;
    text-align: justify;
}

a {
    text-decoration: none;
    color: #6b4226;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}

p {
    text-align: justify;
}